html,
body {
    height: 100%;

}

.header{
    min-height: 10%;
    max-height: 10%;
    background-image: url('../image/header_bg.png');
}
.logo{
    margin-top: 5%;
}
.subheader{
    min-height: 10%;
    max-height: 10%;
    background-image: url('../image/sub_menu_bg.png');
} 
.banner{
}
.submenu{
    padding-top: 4%;
}
.back-arrow{
    max-height: 20px;
    padding-right: 10px;
    float: left;
}
.submenu-text{
    color: #2e3192;
    font-weight: bold;
}

.main-body{
    min-height: 70%;
    max-height: 70%;
    background-color: #eeeeee;
    overflow: auto;
    max-height: 335px;
    font-size: 10px;
}
.menu-button{
    margin-top: 5%;
    max-height: 80px;
}
.menu-text{
    font-size: 10px;
    color: #3d1c24;
    font-weight: bold;
}
.listmenu{
    background-image: url('../image/list_bg.png');
    margin-bottom: 2px;
}
.wraplist{
    padding:2% 0;
}

.list-img{
    float: left;
}
.textlist-push{
    min-height: 12px;
}
.textlist{
    color:white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 25px;
    float: left;
}
.next-arrow{
    max-height: 25px;
    float: right;
}
.footer{
    min-height: 10%;
    max-height: 10%;
    background-image: url('../image/footer_bg.png');
}
.footer-icon{
    align:center;
    margin-top:2%;
}